@use "../config/variables";

.filtres {
  display: flex;
  gap: 63px;

  .filtre-container {
    background-color: white;
    border-radius: 11px;
    max-width: 195px;
    max-height: 56px;
    height: 100%;
    width: 100%;
    font-size: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    transition: max-height 0.3s ease;

    &.open {
      max-height: 315px;
    }

    .filtre-title {
      height: 56px;
      padding: 17px 16px;
      font-size: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .arrow {
        height: fit-content;
        width: 1rem;
        transition: transform 0.3s ease;
      }
      .rotate {
        transform: rotate(180deg);
      }
    }

    .filtre-searching {
      padding: 0 10%;
      height: 56px;
      margin-bottom: 20px;

      .filtre-searchbar {
        display: flex;
        border-radius: 2px;
        border: solid 1px variables.$light-grey;
        padding: 5%;
        height: 2.25rem;

        input {
          width: 100%;
          caret-color: variables.$light-grey;
        }

        svg {
          height: fit-content;
          width: 0.875rem;
        }
      }
    }

    .filtre-elements-section {
      overflow-y: scroll;
      scrollbar-width: none;
      height: 100%;
      max-height: 259px;

      .selected-elements {
        .selected {
          background-color: variables.$yellow;
          padding: 5%;
          font-size: 0.875rem;
          display: flex;
          justify-content: space-between;

          .unselect-filter-element {
            width: 0.875rem;
            display: none;
          }

          &:hover {
            font-weight: 700;

            .unselect-filter-element {
              display: block;
              width: 0.875rem;
            }
          }
        }
      }

      .filtre-elements {
        li {
          padding: 5%;
          font-size: 0.875rem;

          .unselect-filter-element {
            width: 0.875rem;
            display: none;
          }

          &:hover {
            background-color: variables.$yellow;
          }
        }

        .selected {
          background-color: variables.$yellow;
          padding: 5%;
          font-size: 0.875rem;
          display: flex;
          justify-content: space-between;

          .unselect-filter-element {
            width: 0.875rem;
            display: none;
          }

          &:hover {
            font-weight: 700;

            .unselect-filter-element {
              display: block;
              width: 0.875rem;
            }
          }
        }
      }
    }
  }
}

.filter-tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 20px;
  width: 100%;
  .filtre-element-tag {
    width: 195px;
    background-color: variables.$yellow;
    padding: 17px 18px;
    font-size: 0.875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;

    svg {
      width: 0.875rem;
    }
  }
}

// Partie animation des tags

.tag-enter {
  animation: tagScaleIn 0.1s ease-in-out; /* Durée et type d'animation */
}

.tag-exit {
  animation: tagScaleOut 0.1s ease-in-out; /* Animation de sortie */
}

/* Animation d'entrée pour les tags avec effet de grossissement */
@keyframes tagScaleIn {
  from {
    opacity: 0;
    transform: scale(0.8); /* Réduction initiale */
  }
  to {
    opacity: 1;
    transform: scale(1); /* Taille normale */
  }
}

/* Animation de sortie pour les tags */
@keyframes tagScaleOut {
  from {
    opacity: 1;
    transform: scale(1); /* Taille normale */
  }
  to {
    opacity: 0;
    transform: scale(0.8); /* Réduction finale */
  }
}
