@use "../config/variables";

.main-searchbar {
  max-width: 954px;
  width: 100%;
  height: 72px;
  background-color: white;
  border-radius: 11px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
  cursor: pointer;

  input {
    width: 100%;
    height: 100%;
    color: variables.$grey;
    padding-left: 20px;
  }
  .search-icon-container {
    cursor: pointer;
    background-color: variables.$black;
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    svg {
      circle,
      line {
        stroke: white;
      }
    }

    &:hover,
    &:active,
    &:focus {
      background-color: variables.$yellow;

      svg {
        circle,
        line {
          stroke: variables.$black;
        }
      }
    }
  }
}
