@use "../config/variables";

/***** Header *****/

header {
  background-image: url(/src/assets/images/lampos-aritonang-24gR_9lCdes-unsplash\ 1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 667px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: relative;

  .logo {
    position: absolute;
    top: 50px;
    left: 70px;
  }

  h1 {
    color: variables.$yellow;
    font-size: 2.75rem;
    font-family: "Anton", sans-serif;
  }
}

@media (max-width: 768px) {
  header {
    height: 400px;
    .logo {
      width: 8rem;
      top: 20px;
      left: 30px;
    }
    h1 {
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 425px) {
  header {
    height: 300px;
    h1 {
      font-size: 1.2rem;
    }
  }
}
